@{
    ViewBag.Title = "分布页";
    Layout = "~/Views/Shared/_LayoutNew4.cshtml";
}

@section HeadSection{
    
  
    
}


@section FootScript{
    <script type="text/javascript" src="~/js/RealTime02/realtime02.js"></script>
}
<style>
    	#village h4{
			color:blue;
		}
		#village .col-md-4.col-xs-6:hover{
			color:hotpink;
		}
		@@media only screen and (min-width:768px){
			#village .border-p{
			border:1px solid #DDDDDD;
			}
		}
		
		#village p span:first-child{
			font-weight:bold;
		}
		#village .mb5{
			margin-bottom:5px;
		}
</style>

<div id="village" class="">
    <!--一个村落面板 start -->
    @*<div class="col-md-6 col-lg-4 mb5">
        <div class="col-md-12 border-p">
            <h4>马家洼村</h4>
            <div class="col-md-4 col-xs-12">
                <p><span>雨量：</span><span>10mm</span></p>
            </div>
            <div class="col-md-4 col-xs-12">
                <p><span>空气温度：</span><span>10mm</span></p>
            </div>
            <div class="col-md-4 col-xs-12">
                <p><span>空气湿度：</span><span>10mm</span></p>
            </div>
            <div class="col-md-4 col-xs-12">
                <p><span>大气压：</span><span>10mm</span></p>
            </div>
            <div class="col-md-4 col-xs-12">
                <p><span>风速：</span><span>10mm</span></p>
            </div>
            <div class="col-md-4 col-xs-12">
                <p><span>风向：</span><span>10mm</span></p>
            </div>
            <div class="col-md-4 col-xs-12">
                <p><span>土壤温度：</span><span>10mm</span></p>
            </div>
            <div class="col-md-4 col-xs-12">
                <p><span>土壤湿度：</span><span>10mm</span></p>
            </div>
        </div>
    </div>*@
    <!--一个村落面板 end -->
</div>




